INSTALL
Makefile
Makefile.in
TAGS
autom4te*
auxdir
clients
config.h
config.h.in
config.log
config.status
configure
libtool
m4
!external/libsodium/m4
secret
server_id
stamp-*
.deps
.dirstamp
.libs
*.la
*.lo
*.log
*.m4
!external/libsodium/m4/*.m4
*.o
*.pid
*.scan
*.trs
*~
